.hero-header {
  position: relative;

  & > img {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
  }

  & > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    max-width: 80vw;
    text-align: center;

    & > img {
      max-width: 100%;
    }
  }
}