.modal {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;

  &__content {
    background: #fff;
    position: absolute;
    padding: 0 36px 36px 36px;
    max-width: 600px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 5px solid #000;

    & > img {
      display: block;
      width: calc(100% + 72px);
      height: 106px;
      object-fit: cover;
      margin: 18px 0 46px 0;
    }

    & > div {
      max-width: 263px;
    }
  }
}