[data-select] {
  position: relative;
  width: 100%;
  max-width: 260px;
  z-index: 5;

  &:nth-child(1) {
    z-index: 6;
  }

  & > button {
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border: 1.3px solid #B8BBC2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 12px 18px;

    & > svg {
      transition: transform .2s ease-in-out;
      transform: rotate(0);
    }
  }

  & > .dropdown {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    max-height: 220px;
    overflow-y: auto;
    transition: .2s ease-in-out;
    transform-origin: top center;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;

    & > li {
      & > a {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.03em;
        color: var(--color-dark-medium);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 42px;
        padding: 12px 24px;
        background-color: #fff;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;

        &:hover {
          background-color: var(--color-red-light);
        }

        &:active {
          background-color: var(--color-red-medium);
        }

        &.active {
          color: #fff;
          background-color: var(--color-red);
        }
      }
    }
  }

  &.active {
    & > button {
      border-radius: 8px 8px 0 0;
      border: 1.3px solid #215AFF;

      & > svg {
        transform: rotate(-180deg);
      }
    }

    & > .dropdown {
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
    }
  }
}