html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "Space Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: var(--width-container);
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.overlay {
  display: none;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 4;
}

a {
  transition: color .3s;
  color: var(--color-dark);
  text-decoration: none;

  &:visited {
    color: var(--color-dark);
  }

  &:hover {
    color: var(--color-red);
  }
}

.sr-only {
  display: none !important;
}