:root {
  --width-container: 1148px;
  --header-height: 80px;
  --color-red: #E00000;
  --color-dark: #000000;
  --color-gray: #D8D8D8;
  --color-red-medium: #FE5858;
  --color-dark-medium: #313144;
  --color-gray-medium: #E5E5E5;
  --color-red-light: #FFD6D6;
  --color-gray-light: #C4C4C4;
}